@use './src/scss/common/colors';
body {
  margin: 0;
  padding: 0;
  background-color:  colors.$dark-background;
  color: colors.$black;
}
.App {
  text-align: center;
}
footer {
  padding-bottom: 6%;
}

.RoundImage {
  border-radius: 50%;
}



