.ProfileContainer {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 1% auto;
}
.ProfileInfo {
    padding: 0.1%;
}
.ProfileUsername {
    margin: 0;
}
.ProfileAvatar {
    display: flex;
    flex-direction: column;
}