.PostStoryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.StoryControlButtons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
}
.AdvancedSettings {
  display: flex;

}