@use '../../scss/common/colors';

.ChatSelector {
  background: colors.$card-background;
}
.ChatPaneContent {
  display: flex;
  transition: background-color .5s ease-in-out;
  border-radius: 30px;
  &:hover {
    background: lighten(colors.$input-background, 10%);
    a {
      color: colors.$card-background;
    }
  }
}
.ChatPane {
  margin: 1%;
  width: 90%;
  .LastMessageAuthor {
    margin: 0 .5%;
    font-weight: bold;
  }
 background: colors.$card-background;
  display: flex;
  align-items: center;
  border-radius: 33px;
  cursor: pointer;
  a {
    width: 100%;
    text-decoration: none;
    color: colors.$black;
  }
  .Avatar {
    max-width: 67px;
    max-height: 67px;
    border-radius: 50%;
  }
}
.ChatName {
  font-size: larger;
  font-weight: bold;
}
.ChatNameMessage {
  text-align: left;
  margin: 2%;
}
.LastMessageContainer {
  overflow: hidden;
  width: 15%;
  text-overflow: ellipsis;
}
