@use '../../scss/common/colors';

.ChatSelector {
  background: colors.$card-background;
}
.ChatPaneContent {
  display: flex;
  transition: background-color .5s ease-in-out;
  border-radius: 10px;
  margin: 2%;
  padding: 1%;
  &Active {
    background: colors.$important-element;
    color: colors.$white;
  }
  &:not(&Active):hover {
    background: lighten(colors.$shade-blue, 10%);
    a {
      color: colors.$card-background;
    }
  }
}
.ChatPane {
  margin: 1%;
  .LastMessageAuthor {
    margin: 0 .5%;
    font-weight: bold;
  }
 background: colors.$card-background;
  border-radius: 33px;
  cursor: pointer;
  a {
    width: 100%;
    text-decoration: none;
    color: colors.$black;
  }
  .Avatar {
    max-width: 67px;
    max-height: 67px;
    border-radius: 50%;
  }
}
.ChatName {
  font-size: larger;
  font-weight: bold;
}
.ChatNameMessage {
  text-align: left;
  margin: 2%;
}
.LastMessageText {
  margin: 0 2%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.LastMessageContainer {
 display: flex;
}

.ChatSelectorInside {
  .LastMessageText {
  width: 12vw;
  }
}

.ChatSelectorMobile {
  margin: 0 auto;
  width: 60vw;
  .LastMessageAuthor {
    margin: 0;
  }
  .LastMessageText {
    margin: 0;
    width: 30vw;
  }
}

