  @use '../client/src/scss/common/colors';

  .TopOverlay {
    width: 100%;
    height: 100px;
    background: colors.$important-element;
    color: colors.$dark-background;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
    box-sizing: border-box;
    section {
      border: none;
      margin-left: 2%;
    }
    .NavbarToggle {
      cursor: pointer;
      margin-bottom: 50px;
      margin-left: 15px;
    }
    .OverlayInfo {
      display: flex;
      flex-direction: column;
      align-items: baseline;
    }
  }
  .CompanionAvatar {
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
  }
  .Message {
    width: 100px;
    word-wrap: break-word;
    padding: 1%;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
  }
  .MessageAndArrow {
    display: flex;
  }
  .OutgoingMessageBody {
    @extend .MessageTextContainer;
    background: colors.$light-blue;
  }
  .IncomingMessageBody {
    @extend .MessageTextContainer;
    background: colors.$card-background;
    .right-arrow {
      border-right: 8px solid colors.$card-background;
    }
  }
  .MessageBox {
    padding: 1%;
    overflow-y: auto;
    margin-bottom: 120px;
    margin-top: 120px;
  }
  .MessageContainer {
    h6 {
      margin-left: 70px;
    }
  }
  .MessageContainer, .JointMessageContainer {
    h6 {
      margin-bottom: .5%;
      padding: 0;
      text-align: left;
    }
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    font-size: 1.5em;
    img, .Card {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }
  .JointMessageContainer {
    margin-bottom: .1%;
      margin-left: 70px;
  }
  .MessageBody {
    display: flex;
    h6 {
      margin: 0;
      padding: 0;
      text-align: left;
    }
    .right-arrow, .Avatar {
      align-self: flex-end;
    }
  }
  .MessageTextContainer {
    display: flex;
  }
  .MessageText {
    margin: 0;
    padding: 0;
  }
  .right-arrow {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid colors.$light-blue;
  }
  footer {
    display: none;
  }
  .BottomSection {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: colors.$white;
  }
  .SendMessagePanel  {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 1%;
    textarea {
      resize: none;
    }
  }
  .SendButton {
    cursor: pointer;
    color: colors.$important-element;
    font-size: 2em;
    transition: color 200ms ease-in-out;
    &:hover {
      color: colors.$hover-blue;
    }
  }
  .RichArea {
    display: flex;
    align-items: center;
    width: 80%;
    word-break: break-all;
    border: 2px solid colors.$important-element;
    padding: 1%;
    textarea {
      width: 100%;
      margin: 0 auto;
      border: none;
      outline: none;
    }
  }

  .right-arrow-outgoing {
    @extend .right-arrow;
    border-right: 8px solid colors.$light-blue;
  }
  .right-arrow-incoming {
    @extend .right-arrow;
    border-right: 8px solid colors.$card-background;
  }