  @use '../client/src/scss/common/colors';
  .ChatWindow {
    height: 100%;
    overflow: hidden;
  }
  .TopOverlay {
    position: fixed;
    top: 0;
    width: 100%;
    background: colors.$important-element;
    color: colors.$dark-background;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    box-sizing: border-box;
    section {
      border: none;
      margin-left: 2%;
    }
    .OverlayInfo {
      display: flex;
      flex-direction: column;
      align-items: baseline;
    }
  }
  .CompanionAvatar {
    img, .Card {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  .OutcomingMessage {
    background: colors.$light-blue;
    padding: .5%;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
  }
  .MessageBox {
    padding: 1%;
    overflow-y: scroll;
    box-sizing: border-box;
  }
  .MessageContainer {
    display: flex;
    align-items: center;
    margin-bottom: .5%;
    img, .Card {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
  .right-arrow {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid colors.$light-blue;
  }
  footer {
    display: none;
  }
  .SendMessagePanel  {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    margin: 2%;
    margin-bottom: 0;
    box-sizing: border-box;
    .ButtonContainer {
      display: flex;
      align-items: flex-end;
      padding: 0;
      margin-right: 5%;
    }
    img {
      max-width: 40px;
    }
    .Button {
      height: 100%;
      width: 50px;
    }
  }
  textarea {
    width: 100%;
    word-break: break-all;
  }
