  @use '../client/src/scss/common/colors';
  .ChatWindow {
    height: 100%;
  }
  .ChatContainer {
    display: flex;
    height: 100vh;
  }
  .TopOverlay {
    width: 100%;
    height: 100px;
    background: colors.$important-element;
    color: colors.$dark-background;
    display: flex;
    align-items: center;
    padding: 3% 0;
    box-sizing: border-box;
    section {
      border: none;
      margin-left: 1%;
    }
    .NavbarToggle {
      cursor: pointer;
      margin-bottom: 50px;
      margin-left: 15px;
    }
    .OverlayInfo {
      display: flex;
      flex-direction: column;
      align-items: baseline;
    }
  }
  .CompanionAvatar {
    img {
      margin-left: 20vw;
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
  }
  .MessageText {
    text-align: left;
    width: 100%;
    word-break: break-word;
  }
  .MessageBox {
    margin-left: 1%;
    height: 70vh;
    overflow-y: auto;
  }

  .MessageContainer {
    min-width: 5vw;
    max-width: 40vw;
    padding: .5%;
    border-radius: 5px;
    text-align: left;
    margin-top: 1%;
    background: colors.$light-blue;
    img, .Card {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
  }
  .FirstMessageInGroup {
    margin-top: 3%;
  }
  .OutgoingMessageContainer {
    @extend .MessageContainer;
    background: colors.$message-blue;
  }
  .IncomingMessageContainer {
    @extend .MessageContainer;
    background: darken(colors.$card-background, 15%);
  }
  .MessageTextContainer {
    display: flex;
  }
  .MessageText {
    margin: 0;
    padding: 0;
  }

  .ChatMainSection {
    width: 100vw;
    height: 100vh;
  }
  .BottomSection {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: colors.$card-background;
  }
  .SendMessagePanel  {
    display: flex;
    box-sizing: border-box;
    padding: 1%;
    textarea {
      resize: none;
    }
  }
  .SendButton {
    align-self: flex-end;
    cursor: pointer;
    color: colors.$important-element;
    font-size: 2em;
    transition: color 200ms ease-in-out;
    &:hover {
      color: colors.$hover-blue;
    }
  }
  .RichArea {
    height: 5vh;
    display: flex;
    align-items: baseline;
    overflow: hidden;
    width: 60%;
    word-break: break-all;
    border: 2px solid colors.$important-element;
    padding: 1%;
    textarea {
      width: 100%;
      margin: 0 auto;
      border: none;
      outline: none;
      font-size: 1.3em;
    }
  }
  .ScrollDownIcon {
    width: 40px;
    height: 40px;
    margin: 1%;
    cursor: pointer;
  }
  .ChatSelectorInside {
    min-width: 20vw;
    height: 100vh;
    overflow-y: auto;
  }

  @media only screen and (max-width: 784px) {
    .ChatSelectorInside {
    }
    .Message {
      font-size: 60%;
    }

    .RichArea {
      width: 100%;
    }
  }
  .SenderInfo {
    display: flex;
    align-items: center;
    .MessageAuthorName {
      h5 {
        margin: 0;
      }
      a {
        color: colors.$black;
        text-decoration: none;
        &:hover {
          color: lighten(colors.$black, 20%);
        }
      }
    }
    .Avatar {
      margin-bottom: .5%;
      margin-right: 1%;
      width: 50px;
      height: 50px;
    }
  }