@use '../../scss/common/colors';
.Navbar {
    display: flex;
    align-items: center;
}
.NavbarItems {
    border-radius: 10px;
    list-style: none;
    display: inline-flex;
    align-items: center;
    font-size: 1.5em;
}
.NavbarItems li  {
    margin: 10%;
}
.NavbarItems li a {
    text-decoration: none;
    color: colors.$black;
}
.NavbarLogo {
    max-width: 10%;
}
.NavbarItems li {
   cursor: pointer;
}
@media only screen and (max-width: 784px) {
    .Navbar {

    }
    .NavbarLogo {
        display: none;
    }
    .NavbarItems {
        margin: 1% auto;
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
    }
}