@use '../../scss/common/colors';
nav {
    height: 10%;
    cursor: pointer;
    .ButtonContainer {
        padding: 0;
    }
    .Button {
        width: 100%;
        border-radius: 0;
        border-bottom: 2px solid colors.$light-blue;
    }
}
.Navbar {
    display: flex;
    align-items: center;
}
.NavbarItems {
    border-radius: 10px;
    list-style: none;
    align-items: center;
    font-size: 1.5em;
}

.NavbarItems li  {
    margin: 10%;
}
.NavbarItems li a {
    text-decoration: none;
    color: colors.$black;
}
.NavbarLogo {
    max-width: 10%;
}
.NavbarItems li {
   cursor: pointer;
}
.SettingsIcon {
        width: 50px;
        height: 50px;
}
@media only screen and (max-width: 784px) {
    .NavbarLogo {
        display: none;
    }
    .NavbarItems {
        margin: 1% auto;
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
    }
    .NavbarButtonPanelLi {
        align-self: center;
    }
}