@use './common/_colors';
.Navbar {
    color: lightskyblue;
    padding: 1% 1%;
}
.NavbarItems {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1.5em;
}
.NavbarItems li {
    padding: 1%;
}
.NavbarItems li a {
    text-decoration: none;
    color: lightskyblue;
}
.NavbarLogo {
    max-width: 10%;
}
.NavbarLogout {
    margin-left: auto;
}
.NavbarItems li .NavigationLink:hover, .NavbarLogout:hover {
   cursor: pointer;
}
@media only screen and (max-width: 784px) {
    .NavbarLogo {
        display: none;
    }
    .NavbarLogout {
        margin-left: 0;
    }
    .NavbarItems {
        flex-direction: column; 
    }
}