.RegisterFormWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.SocialLoginWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    overflow: hidden;
}
.SocialLogin {
    margin-right: .5%;
    width:10%;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: .5%;
    text-decoration: none;
}
.SocialLogin:hover {
    cursor: pointer;
}
#GoogleLoginButton {
    background-color: #DB4437;
}
#FacebookLoginButton {
    background-color: #4267B2;
}
#InstagramLoginButton {
    background-color: #C13584;
}
#VKLoginButton {
    background-color: #4680C2;
}
.RegisterFormWrapper input {
  padding: .5%;
  border-radius: 1%;
  border: none;  
  margin-bottom: .5%;
  width: 50%;
}
.FormSubmitButton {
    background-color: dodgerblue;
    color: #fff;
}
.FormSubmitButton:hover {
    cursor: pointer;
}
.PasswordReset {
    margin: 1%;
}

@media screen and (max-width: 784px) {
    .SocialLoginWrapper {
       justify-content: center; 
       flex-direction: column;
       padding: 2%;
    }
    .SocialLogin {
        width: 99%;
        margin: .5%;
    }
    .RegisterFormWrapper input {
        width: 99%;
      }
  }